---
Checks: >
  -*,
  llvm-header-guard,
  llvm-include-order,
  llvm-namespace-comment,
  clang-diagnostic-*,
  clang-analyzer-*,
  bugprone*,
  modernize*,
  performance*,
  -modernize-pass-by-value,
  -modernize-use-auto,
  -modernize-use-using,
  -modernize-use-trailing-return-type
WarningsAsErrors: '*'
HeaderFilterRegex: ''
AnalyzeTemporaryDtors: false
FormatStyle:     none
CheckOptions:
  - key:             modernize-loop-convert.MaxCopySize
    value:           '16'
  - key:             modernize-loop-convert.MinConfidence
    value:           reasonable
  - key:             modernize-loop-convert.NamingStyle
    value:           CamelCase
  - key:             modernize-pass-by-value.IncludeStyle
    value:           llvm
  - key:             modernize-replace-auto-ptr.IncludeStyle
    value:           llvm
  - key:             modernize-use-nullptr.NullMacros
    value:           'NULL'
...
